{
	"singleQuote": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"useTabs": true,
	"printWidth": 120,

	"overrides": [
		{
			"files": ["*.yml"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
